body {
    width:80%;
}

.venueFan {

    border:solid 2px red;
    height: 250px;
    width:25%;
    margin:0 60px 0 200px;
    display:block;
    float:left;
    background-image: url("images/show2.jpeg")
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    clear:both;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.detail {
    clear:both;
    margin: 20px;
}

.info{

    float:left;
    margin: 20px;
    display:block;

}

.but {
    clear:both;
}
.img {
    height:300px;
    width:100%;
      background-image: url("images/show2.jpeg")
     
}
.det {
  margin:100px;
}